/cocos2d
/proj.android
/proj.android-studio
/proj.ios_mac
/proj.linux
/proj.win10
/config.json
/.cocos-project.json
/brave.udf
/proj.win32/Debug.win32
/proj.win32/Debug
/proj.win32/brave.opensdf
/proj.win32/*.sdf
/proj.win32/brave.vcxproj.user
/proj.win32/build-cfg.json
/proj.win32/game.aps
/proj.win32/.vs
/brave_test/proj.win32/Debug.win32
/brave_test/proj.win32/Debug
/brave_test/proj.win32/brave.opensdf
/brave_test/proj.win32/*.sdf
/brave_test/proj.win32/brave_test.vcxproj.user
/brave_test/proj.win32/build-cfg.json
/brave_test/proj.win32/game.aps
/brave_test/proj.win32/.vs
*.bak
/proj.win32/libdragonbones 
*Debug.win32
